<a href="https://colab.research.google.com/github/mama56655/ML-Projects/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!pip install --upgrade kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (1.7.4.5)
Collecting kaggle
  Downloading kaggle-2.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle) (6.3.0)
Collecting kagglesdk<1.0,>=0.1.15 (from kaggle)
  Downloading kagglesdk-0.1.15-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from kaggle) (26.0)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle) (5.29.6)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kaggle) (4.67.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil->kaggle) (1.17.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.12/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->kaggle) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->kaggle) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->kaggle) (2026.1.4)
Downloading kaggle-2.0.0-py3-none-any.whl (75 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 75.5/75.5 kB 2.4 MB/s eta 0:00:00
Downloading kagglesdk-0.1.15-py3-none-any.whl (160 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 160.4/160.4 kB 7.2 MB/s eta 0:00:00
Installing collected packages: kagglesdk, kaggle
  Attempting uninstall: kaggle
    Found existing installation: kaggle 1.7.4.5
    Uninstalling kaggle-1.7.4.5:
      Successfully uninstalled kaggle-1.7.4.5
Successfully installed kaggle-2.0.0 kagglesdk-0.1.15

In [36]:
import os
import kagglehub

# €±. ÿ™ÿ≤ÿ±€åŸÇ ÿ™Ÿà⁄©ŸÜŸê ÿ™Ÿà ÿ®Ÿá ŸÇŸÑÿ® ÿ≥€åÿ≥ÿ™ŸÖ
os.environ['KAGGLE_API_TOKEN'] = "KGAT_d2569947004882ae8fd2cd58d421f6c8"

# €≤. ÿØÿßŸÜŸÑŸàÿØ ŸÖÿ≥ÿ™ŸÇ€åŸÖ Ÿà ÿ®€å‚ÄåÿØÿ±ÿØÿ≥ÿ±
print("Dar hale download... (Lotfan sabr konid)")
path = kagglehub.dataset_download("sethdowden/portland-maps-assessor-data")

# €≥. ÿ™ÿß€å€åÿØ€åŸá ŸÖÿ≥€åÿ± ŸÅÿß€åŸÑ
print("Tamam! File-ha inja hastand:", path)

Dar hale download... (Lotfan sabr konid)
Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/sethdowden/portland-maps-assessor-data?dataset_version_number=581...

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 45.2M/45.2M [00:00<00:00, 164MB/s]

Extracting files...

Tamam! File-ha inja hastand: /root/.cache/kagglehub/datasets/sethdowden/portland-maps-assessor-data/versions/581


# 1„Ö£**Import Libraries**

In [37]:
import pandas as pd
import glob

#**2„Ö£Data Check üíæ**

In [44]:
file_list = glob.glob(path + '/*.csv')
file_path = file_list[0]

# ŸÑŸàÿØ ⁄©ÿ±ÿØŸÜ ÿØ€åÿ™ÿß ÿ®ÿß ŸÖÿ™ÿ∫€åÿ± ÿØÿ±ÿ≥ÿ™ (ŸÜŸá ÿ®ÿß ⁄©ŸÑ ŸÑ€åÿ≥ÿ™)
data = pd.read_csv(file_path)

# ŸÜŸÖÿß€åÿ¥ ÿßÿ≥ŸÖ ÿ™ŸÖÿßŸÖ ÿ≥ÿ™ŸàŸÜ‚ÄåŸáÿß
print(data.columns)

/tmp/ipython-input-2734031742.py:5: DtypeWarning: Columns (2,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

Index(['address', 'city', 'state', 'zip_code', 'zip_code_string', 'county',
       'neighborhood', 'property_id', 'state_id', 'parent_state_id',
       'alt_account_number', 'owner', 'legal_description', 'square_feet',
       'market_value', 'sale_date', 'sale_price', 'year_built',
       'x_state_plane', 'y_state_plane', 'x_web_mercator', 'y_web_mercator',
       'latitude', 'longitude', 'primary'],
      dtype='object')

In [39]:
data

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33
...,...,...,...,...,...,...,...,...
3474,86,2,True,True,True,Southern Janatabad,3.500000e+09,116666.67
3475,83,2,True,True,True,Niavaran,6.800000e+09,226666.67
3476,75,2,False,False,False,Parand,3.650000e+08,12166.67
3477,105,2,True,True,True,Dorous,5.600000e+09,186666.67
3478,82,2,False,True,True,Parand,3.600000e+08,12000.00

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3479 entries, 0 to 3478
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Area        3479 non-null   object
 1   Room        3479 non-null   int64
 2   Parking     3479 non-null   bool
 3   Warehouse   3479 non-null   bool
 4   Elevator    3479 non-null   bool
 5   Address     3456 non-null   object
 6   Price       3479 non-null   float64
 7   Price(USD)  3479 non-null   float64
dtypes: bool(3), float64(2), int64(1), object(2)
memory usage: 146.2+ KB

In [33]:
data.describe()

              Room         Price    Price(USD)
count  3479.000000  3.479000e+03  3.479000e+03
mean      2.079908  5.359023e+09  1.786341e+05
std       0.758275  8.099935e+09  2.699978e+05
min       0.000000  3.600000e+06  1.200000e+02
25%       2.000000  1.418250e+09  4.727500e+04
50%       2.000000  2.900000e+09  9.666667e+04
75%       2.000000  6.000000e+09  2.000000e+05
max       5.000000  9.240000e+10  3.080000e+06

In [34]:
data.isna().sum()

Area           0
Room           0
Parking        0
Warehouse      0
Elevator       0
Address       23
Price          0
Price(USD)     0
dtype: int64

In [35]:
data.isna().mean()

Area          0.000000
Room          0.000000
Parking       0.000000
Warehouse     0.000000
Elevator      0.000000
Address       0.006611
Price         0.000000
Price(USD)    0.000000
dtype: float64